server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: femsq-web
  graphql:
    schema:
      printer:
        enabled: true
    graphiql:
      enabled: true

logging:
  level:
    com.femsq: INFO
